<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <style>
        header img {
            width: 100px;

        }

        ul {
            float: right;

            list-style-type: none;

        }

        a {
            text-decoration: none;
        }

        .ft {
            background-color: black;
            color: white;
            text-align: center;

        }
    </style>
</head>

<body>
    <header>
        <img src="imgs/bread.jpg" alt="">
        <ul>
            <li><a href="">最新消息</a></li>
            <li><a href="">產品介紹</a></li>
            <li><a href="">聯絡我們</a></li>
        </ul>
    </header>
    <article>

    </article>

    <footer>
        <div class="ft">
            Copyright&copy;2023
        </div>
    </footer>
</body>

</html>